<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/notfication-service.log" filePattern="${basePath}/notfication-service-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd_HH:mm:ss.SSS} | [%thread] | %-5level | %logger{36} | %msg]%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="in.amal.gns" level="debug" additivity="false">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="fileLogger" level="debug" />
            <appender-ref ref="console" level="info" />
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>